<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      CIRA - View Post
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- Only Shows these fab buttons if user is the post owner -->
  <ion-fab left bottom>
    <button ion-fab [hidden]="!isCurrentUser" (click)="delete()"><ion-icon name="trash"></ion-icon></button>
  </ion-fab>
  <ion-fab right bottom>
    <button ion-fab [hidden]="!isCurrentUser" (click)="edit()"><ion-icon name="brush"></ion-icon></button>
  </ion-fab>

  <ion-card>
    <img [src]="post.imageUrl" />
    <ion-card-content>
      <ion-card-title>
        {{post.type}} Report ({{post.status}})
      </ion-card-title>
      <p><strong>Name:</strong> {{post.name}}</p>
      <p><strong>Location:</strong> {{post.location}}</p>
      <p><strong>Date & Time:</strong> {{ post.dateTime | date: 'dd/MM/yyyy HH:mm' }}</p>
      <p><strong>Description:</strong></p>
      <p>{{post.description}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
