<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      CIRA - View Post
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-fab left bottom *ngIf="currentUser.uid == post.userID">
      <button ion-fab (click)="delete()"><ion-icon name="trash"></ion-icon></button>
    </ion-fab>

    <ion-fab right bottom *ngIf="currentUser.uid == post.userID">
      <button ion-fab (click)="openNewPostModal()"><ion-icon name="brush"></ion-icon></button>
    </ion-fab>

  <ion-card>
      <img [src]="post.imageURL" />
      <ion-card-content>
        <ion-card-title>
          {{post.type}} Report ({{post.status}})
        </ion-card-title>
        <p><strong>Name:</strong> {{post.name}}</p>
        <p><strong>Location:</strong> {{post.location}}</p>
        <p><strong>Date:</strong> {{post.date}}</p>
        <p><strong>Time:</strong> {{post.time}}</p>
        <p><strong>Description:</strong></p>
        <p>{{post.description}}</p>
      </ion-card-content>
    </ion-card>

</ion-content>
