<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      CIRA - View Post
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <!-- Only Shows these fab buttons if user is the post owner -->
    <ion-fab left bottom *ngIf="currentUser.uid == post.userId">
      <button ion-fab (click)="delete()"><ion-icon name="trash"></ion-icon></button>
    </ion-fab>
    <ion-fab right bottom *ngIf="currentUser.uid == post.userId">
      <button ion-fab (click)="edit()"><ion-icon name="brush"></ion-icon></button>
    </ion-fab>

  <ion-card>
    <img [src]="post.imageURL" />
    <ion-card-content>
      <ion-card-title>
        {{post.type}} Report ({{post.status}})
      </ion-card-title>
      <p><strong>Name:</strong> {{post.name}}</p>
      <p><strong>Location:</strong> {{post.location}}</p>
      <p><strong>Date:</strong> {{post.date}}</p>
      <p><strong>Time:</strong> {{post.time}}</p>
      <p><strong>Description:</strong></p>
      <p>{{post.description}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
