<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>CIRA - Post Feed</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
          <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-fab right bottom>
      <button ion-fab (click)="openNewUserModal()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <div>

    <ion-item class="filter-bar">
      <ion-select [(ngModel)]="viewType" interface="popover" (ionChange)="proccessPosts()">
        <ion-option value="all">All Types</ion-option>
        <ion-option value="Missing Person">Missing Persons</ion-option>
        <ion-option value="Missing Property">Missing Property</ion-option>
        <ion-option value="Wanted Person">Wanted Person</ion-option>
      </ion-select>
      <ion-select [(ngModel)]="orderBy" interface="popover" (ionChange)="proccessPosts()">
          <ion-option value="date">By Date</ion-option>
          <ion-option value="name">By Name</ion-option>
        </ion-select>
      <button class="funnel" ion-button item-end>
        <ion-label>Filter</ion-label>
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-item>
       
   
    <ion-segment [(ngModel)]="viewMode">
      <ion-segment-button value="gallery">
        <ion-icon name="photos"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="grid">
        <ion-icon name="grid"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="list">
        <ion-icon name="list-box"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>
    
  <div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'gallery'">
      <ion-card padding *ngFor="let post of posts" (click)="viewDetails(post)">
        <img [src]="post.imageURL" />
        <ion-card-content>
          <ion-card-title>
            {{post.type}}
          </ion-card-title>
          <p>{{post.name}}</p>
          <p>{{post.location}}</p>
        </ion-card-content>

        <ion-row no-padding>
          <ion-col>
              <button ion-button clear>View Details</button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

    <div class="grid-display" *ngSwitchCase="'grid'">
      <ion-grid>
        <ion-row>
          <ion-col col-4 *ngFor="let post of posts" (click)="viewDetails(post)">
            <ion-card>
              <img [src]="post.imageURL"/>
              <div class="card-title">{{post.type}}</div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    
    
    <div *ngSwitchCase="'list'">
        <div class="list-mini">
            <ion-list>
              <ion-item padding *ngFor="let post of posts" (click)="viewDetails(post)">
                <ion-thumbnail item-start>
                  <img [src]="post.imageURL">
                </ion-thumbnail>
                <h2>{{post.type}}</h2>
                <p>{{post.name}}</p>
                <p>{{post.location}}</p>
                <button ion-button clear item-end>Details</button>
              </ion-item>
            </ion-list>
          </div>
    </div>
  </div>
</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
